body, html, pre { margin: 0; padding: 0; border: 0; }

body            { background-color: #eee; }
#gamemap        { border-collapse: collapse; }
#gamemap td     { height: 1em; width: 1em; background-color: black; color: white; overflow: hidden;
                  margin: 0; padding: 0; border: 0; text-align: center; vertical-align: middle; }
